<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
  </head>
  <body>
    <h1>Create a new account!</h1>
    <form action="/auth/sign-up" method="post">
      <label for="name">Username:</label>
      <input type="text" name="name" id="name" />
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" />
      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" name="confirmPassword" id="confirmPassword" />
      <!-- <label for="age">Age</label>
      <input type="age" name="age" id="age">
      <label for="height">Height</label>
      <input type="height" name="height" id="height">
      <label for="weight">Weight</label>
      <input type="weight" name="weight" id="weight"> -->
      <label for="isPublic">Public User</label>
      <input type="checkbox" name="isPublic" id="isPublic">
      <button type="submit">Sign up</button>
    </form>
  </body>
</html>
