<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css">
    <title>Sign In</title>
  </head>
  <body>
    <form action="/auth/sign-in" method="post" class="sign-in-form">
      <h1 class="form-title">Log In</h1>

      <div class="form-group">
        <label for="name">Username:</label>
        <input type="text" name="name" id="name" required />
      </div>

      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required />
      </div>

      <button type="submit" class="submit-btn">Sign In</button>
    </form>
  </body>
</html>