<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %> <% if (user) { %>
    <h1>Welcome to the app, <%= user.name %>!</h1>
    <% } else { %>
    <p>Please sign in</p>
    <% } %>

    <h2>Explore Users</h2>
    <ul>
      <% users.forEach(u => { %>
      <li>
        <a href="/users/<%= u._id %>"><%= u.name %></a>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
