<!DOCTYPE html>
<html>
<head>
  <title>Public Users</title>
</head>
<body>
  <h1>Public Users</h1>
  <ul>
    <% users.forEach(user => { %>
      <li>
        <a href="/public/users/<%= user._id %>"><%= user.name %></a>
      </li>
    <% }) %>
  </ul>
</body>
</html>
