<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %> 
    
    <% if (user) { %>
    <h1>Welcome to the app, <%= user.name %>!</h1>
    <% } else { %>
    <h1>please sign in</h1>
    <%} %>

    <h1>Explore</h1>
    <ul>
      <% users.forEach(user => { %>
      <li>
        <a href="/users/<%= user._id %>"><%= user.name %></a>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
