<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Create Plan</title>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chewy&family=Lobster&display=swap" rel="stylesheet">
</head>

<body>
  <div class="navbar-container">
    <div class="navbar"><%- include('../partials/_navbar.ejs') %></div>
  </div>
  <div class="plan-page-container">
    <h2 class="plan-page-title">Create Your Plan</h2>
    <form class="plan-page-form" action="/plans/new" method="POST">
      <div class="plan-form-group">
        <label>Goal</label>
        <select name="goal" required>
          <option value="">Select goal</option>
          <option value="Maintain-weight">Maintain Weight</option>
          <option value="Lose-weight">Lose Weight</option>
          <option value="Gain-weight">Gain Weight</option>
        </select>
      </div>

      <div class="plan-form-group">
        <label>Age</label>
        <input type="number" name="age" required />
      </div>

      <div class="plan-form-group">
        <label>Height (cm)</label>
        <input type="number" name="height" required />
      </div>

      <div class="plan-form-group">
        <label>Weight (kg)</label>
        <input type="number" name="weight" required />
      </div>

      <button type="submit" class="plan-submit-btn">Create Plan</button>
    </form>
  </div>
</body>

</html>