<nav>
<<<<<<< HEAD
  <a href="/">home</a>
=======
  <a href="/">Homepage</a>
  <a href="/exercises">Your Exercises</a>
>>>>>>> 395bc65 (Created Exercises MVC with full CRUD.)
  <a href="/auth/sign-out">Sign Out</a>
</nav>
