<nav class="nav">
  <% if(user) { %> 
    <% if(path === "/") { %>
      <a href="/profile">Profile</a>
      <a href="/plans">Create a Plan</a>
      <a href="/meals">My Meals</a>
      <a href="/exercises">My Exercises</a>
      <a href="/auth/sign-out">Sign Out</a>
  <% } else if(path === "/profile") { %>
      <a href="/">Explore</a>
      <a href="/meals">Meals</a>
      <a href="/exercises">Exercises</a>
      <a href="/auth/sign-out">Sign Out</a>
  <% } else { %>
  <a href="/profile">Profile</a>
  <a href="/">Explore</a>
  <a href="/meals">Meals</a>
  <a href="/exercises">Exercises</a>
  <a href="/auth/sign-out">Sign Out</a>
  <% } %> <% } else { %>
  <a href="/auth/sign-up">Sign Up</a>
  <a href="/auth/sign-in">Sign In</a>
  <% } %>
</nav>
