<nav class="nav">
<% if (!user) { %>
  <% if (path === "/") { %>
    <a href="/profile">Profile</a>
    <a href="/meals">My Meals</a>
    <a href="/exercises">My Exercises</a>
    <a href="/auth/sign-in">Sign In</a>
    <a href="/auth/sign-in">Sign Up</a>
  <% } %>
<% } %>



  <% if (user) { %> 
    <% if(path === "/") { %>
      <a href="/profile">Profile</a>
      <a href="/meals">My Meals</a>
      <a href="/exercises">My Exercises</a>
      <a href="/auth/sign-out">Sign Out</a>
    <% } else if(path === "/profile") { %>
      <a href="/">Explore</a>
      <a href="/meals">My Meals</a>
      <a href="/exercises">My Exercises</a>
      <a href="/auth/sign-out">Sign Out</a>
    <% } else if (path === '/meals') { %>
      <a href="/profile">Profile</a>
      <a href="/">Explore</a>
      <a href="/exercises">My Exercises</a>
      <a href="/auth/sign-out">Sign Out</a>
    <% } else if (path === '/exercises') { %>
      <a href="/profile">Profile</a>
      <a href="/">Explore</a>
      <a href="/meals">My Meals</a>
      <a href="/auth/sign-out">Sign Out</a>
    <% } else if (path === '/users/' + user._id) { %>
      <a href="/profile">Profile</a>
      <a href="/">Explore</a>
      <a href="/meals">My Meals</a>
      <a href="/exercises">My Exercises</a>
      <a href="/auth/sign-out">Sign Out</a>
    <% } else if (path === '/meals/new') { %>
      <a href="/profile">Profile</a>
      <a href="/">Explore</a>
      <a href="/meals">My Meals</a>
      <a href="/exercises">My Exercises</a>
      <a href="/auth/sign-out">Sign Out</a>
    <% } else if (path === '/exercises/new') { %>
      <a href="/profile">Profile</a>
      <a href="/">Explore</a>
      <a href="/meals">My Meals</a>
      <a href="/exercises">My Exercises</a>
      <a href="/auth/sign-out">Sign Out</a>
    <% } else if (path === '/exercises/' + user._id + '/edit') { %>
      <a href="/profile">Profile</a>
      <a href="/">Explore</a>
      <a href="/meals">My Meals</a>
      <a href="/exercises">My Exercises</a>
      <a href="/auth/sign-out">Sign Out</a>
    <% } %>
  <% } %>
</nav>
