body {
  display: flex;
  flex-direction: column;
  font-family: "Chewy", system-ui;
}
.navbar-container {
  display: flex;
  justify-content: center;
  font-family: "Chewy", system-ui;
}

.nav {
  font-family: inherit;
  gap: 100px;
}

.logo-container {
  display: flex;
  justify-content: center;
}

.logo-image {
  height: 350px;
}

.welcome-text-container {
  display: flex;
  justify-content: center;
  font-family: "Chewy", system-ui;
}

.explore-container {
  font-family: "Chewy", system-ui;
}

.explore {
  font-family: inherit;
}

.slogan {
  display: flex;
  justify-content: center;
}

.explore-container {
  display: flex;
  justify-content: center;
}

.users-container {
  display: flex;
  justify-content: center;
  height: 100px;
  font-family: "Chewy", system-ui;
}

.user-card {
  display: flex;
  justify-content: center;
  border: black solid 2px;
  width: 250px;
  height: 250px;
  flex-direction: column;
  text-align: center;
  margin-top: 40px;
  border-radius: 10px;
  background-color: #005A9C;
  font-family: inherit;
}

.user-card-link {
  text-decoration: none;
}

span.username {
  color: white;
  font-size: 35px;
}

span.goal {
  color: white;
  font-size: 30px;
  font-family: inherit;
}
span.goal-label {
  color: white;
  font-size: 25px;
}

.log-day-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  gap: 20px;
}

.log-page-title {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.log-plan-summary,
.log-meals-container,
.log-exercises-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}


.log-meal-card,
.log-exercise-card,
.log-plan-summary {
  text-align: center;
  font-size: 20px;
}
