body {
  display: flex;
  flex-direction: column;
  font-family: "Chewy", system-ui;
}
.navbar-container {
  display: flex;
  justify-content: center;
  font-family: "Chewy", system-ui;
}

.nav {
  font-family: inherit;
  gap: 100px;
}

.logo-container {
  display: flex;
  justify-content: center;
}

.logo-image {
  height: 350px;
}

.welcome-text-container {
  display: flex;
  justify-content: center;
  font-family: "Chewy", system-ui;
}

.explore-container {
  font-family: "Chewy", system-ui;
}

.explore {
  font-family: inherit;
}

.slogan {
  display: flex;
  justify-content: center;
}

.explore-container {
  display: flex;
  justify-content: center;
}

.users-container {
  display: flex;
  justify-content: center;
  height: 100px;
  font-family: "Chewy", system-ui;
}

.user-card {
  display: flex;
  justify-content: center;
  border: black solid 2px;
  width: 250px;
  height: 250px;
  flex-direction: column;
  text-align: center;
  margin-top: 40px;
  border-radius: 10px;
  background-color: #005A9C;
  font-family: inherit;
}

.user-card:hover {
  transform: translateY(-10px);
}

.user-card-link {
  text-decoration: none;
}

span.username {
  color: white;
  font-size: 35px;
}

span.goal {
  color: white;
  font-size: 30px;
  font-family: inherit;
}
span.goal-label {
  color: white;
  font-size: 25px;
}

.log-day-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  gap: 20px;
}

.log-page-title {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.log-plan-summary,
.log-meals-container,
.log-exercises-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}


.log-meal-card,
.log-exercise-card,
.log-plan-summary {
  text-align: center;
  font-size: 20px;
}

.sign-in-form,
.sign-up-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 50px auto;
  font-size: 50px;
}

#name,
#password,
#confirmPassword {
  height: 40px;
  width: 200px;
  border-radius: 5px;
}

.back-dashboard-link {
  display: flex;
  margin-top: 80px;
  cursor: pointer;
}

.submit-btn {
  margin-top: 80px;
  height: 80px;
  width: 180px;
  font-size: 30px;
  background-color: #32CD32;
  border-radius: 5px;
  font-family: inherit;
  cursor: pointer;
}

input.checkbox {
  height: 30px;
  width: 30px;
  border-radius: 10px;
}

label.isPublic {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.plan-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-size: 40px;
}

.plan-page-form .plan-form-group,
.plan-page-form .form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.plan-page-form input,
.plan-page-form select {
  width: 250px;
  padding: 6px;
}

.plan-submit-btn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  font-size: 20px;
  background-color: #32CD32;
  border-radius: 5px;
  font-family: inherit;
}

.profile-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
}

.delete-btn {
  margin-top: 40px;
  height: 80px;
  width: 180px;
  font-size: 30px;
  background-color: #32CD32;
  border-radius: 5px;
  font-family: inherit;
  cursor: pointer;
  background-color: red;
}

.form-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 170px;
  font-size: 30px;
}

.form-page-form .form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 250px;
}

.form-page-form input {
  width: 100%;
  padding: 6px;
  border-radius: 5px;
}

.form-submit-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form-submit-btn {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
  background-color: #32CD32;
  border-radius: 5px;
  font-family: inherit;
}

.items-container {
  display: flex;
  justify-content: center;
  margin-top: 120px;
  font-size: 30px;
}

.create-item {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-size: 30px;
}