<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Exercise</title>
  </head>
  <body>
    <form action="/exercises" method="post">
      <input type="text" name="exerciseName" placeholder="Machine name" />
      <input type="text" name="muscleName" placeholder="Muscle target" />
      <input type="text" name="sets" placeholder="How many sets" />
      <input type="text" name="reps" placeholder="How many reps" />
      <input type="text" name="weight" placeholder="How heavy did you lift" />

      <button type="submit">Log Exercise</button>
    </form>
  </body>
</html>
