<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Meal</title>
  </head>
  <body>
    <form action="/meals" method="post">
      <input type="text" name="mealName" placeholder="Enter Meal Name" />
      <input type="text" name="protein" placeholder="protein" />
      <input type="text" name="carbs" placeholder="how much carbs" />
      <input type="text" name="fat" placeholder="how much fat" />
      <input type="text" name="calories" placeholder="how many calories" />
      <button type="submit">Log Meal</button>
    </form>
  </body>
</html>
